

#wrapper{
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5rem;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: url("../Bilder/background.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    
}

header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: auto;
    text-align: center;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline;
    margin-right: 2rem;
}

a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:linear-gradient(180deg,white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
   
    text-decoration: none;
}

section{
    width: auto;
    float: left;
    padding: 1rem;
    margin-top: 1rem;
    background-color: white;
    border: 3px double black;
    border-radius: 5px;
    box-shadow: inset 0rem 0rem 1rem 0.2rem rgba(0,0,0,0.75);

}

#logo{
    width: 90%;
}


@media screen and (min-width: 1000px){
    #wrapper{
        width: 60rem;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.5rem;
        font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }
    
    body{
        background-image: url("../Bilder/background.jpg");
        background-color: black;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        height: auto;
    }
    .item {
        display: inline-block;
        position: relative;
        font-size: 2rem;
        padding: 0;
        padding: 2rem;
        text-align: center;
    }
    
    .thumb img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }

    header {
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: auto;
        text-align: center;
    }
    
    nav ul{
        list-style: none;
    }
    
    nav li{
        display: inline;
        margin-right: 2rem;
    }
    
    a{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-image:linear-gradient(180deg,white, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2rem;
       
        text-decoration: none;
    }
    
    section{
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        background-color: white;
        border: 3px double black;
        border-radius: 5px;
        box-shadow: inset 0rem 0rem 1rem 0.2rem rgba(0,0,0,0.75);
    }

}